<div class="accordion">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Login
        </mat-panel-title>
        <mat-panel-description>
          Login Here
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-login></app-login>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Register
        </mat-panel-title>
        <mat-panel-description>
          Register Here
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-register></app-register>
    </mat-expansion-panel>
  </mat-accordion>
</div>
