<div class="accordion">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> </mat-panel-title>
        <mat-panel-description>
          <span>Login</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-login></app-login>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> </mat-panel-title>
        <mat-panel-description>
          <span>Register</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-register></app-register>
    </mat-expansion-panel>
  </mat-accordion>
</div>
