@import '../../../app.component.scss';
@import '../../../../styles.scss';

.post-card {
  margin: 5px;
}

.post-image {
  border: solid 1px #cad3dc;
}

.post-text {
  margin: 1% !important;
  height: 50% !important;
}

.image-resize {
  max-width: 100%;
  max-height: 100%;
  margin: auto !important;
  width: auto;
}

.text-resize {
  margin: 1%;
  height: 100%;
  white-space: break-spaces;
  overflow-y: hidden;
  position: relative;
}

.post-text .read-more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 30px 0;
  background-image: linear-gradient(to bottom, transparent, $baseColor);
  cursor: pointer;
  &:hover {
    background-image: linear-gradient(to bottom, transparent, $secondaryColor);
  }
}
