<mat-card class="post-card">
  <mat-card-header>
    <div mat-card-avatar class="profile-avatar"></div>
    <mat-card-title>Anwer Ben Abdallah</mat-card-title>
    <mat-card-subtitle>What's the news ?</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/images/test_post.jpg" alt="Just for test" class="image-post" />
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
