.profile-avatar {
  background-image: url('/assets/images/avatar.png');
  background-size: cover;
  height: 100px;
  width: 100px;
}

mat-form-field {
  width: 250px !important;
}

.edit {
  cursor: pointer;
  &:hover {
    background-color: #c5c5c5;
    border-radius: 5px;
  }
}

.verified {
  &:hover {
    color: initial;
  }
}
