<mat-card class="user-settings">
  <mat-card-header>
    <mat-card-title>My Settings</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-icon (click)="close()" class="close-modal">close</mat-icon>
  </mat-card-header>
  <mat-divider [inset]="true"></mat-divider>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <mat-grid-list cols="3" rowHeight="10px">
        <mat-grid-tile [colspan]="1" [rowspan]="14">
          <div mat-card-avatar class="profile-avatar" (click)="onUploadAvatar()">
            <input #avatar type="file" formControlName="avatar" style="display: none" />
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="7" class="tile-field">
          <mat-form-field appearance="standard">
            <input type="text" [formControl]="firstname" matInput placeholder="Firstname" />
            <mat-error *ngIf="firstname.errors">{{ errorFieldService.getFieldError(firstname.errors) }}</mat-error>
          </mat-form-field>
          <mat-icon *ngIf="!editMode.firstname" class="edit" (click)="toggleEnable('firstname')" matSuffix>
            edit
          </mat-icon>
          <div>
            <mat-icon *ngIf="editMode.firstname" class="edit confirmation" (click)="update('firstname')" matSuffix>
              done
            </mat-icon>
            <mat-icon *ngIf="editMode.firstname" class="edit confirmation" (click)="cancel('firstname')" matSuffix>
              cancel
            </mat-icon>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="7" class="tile-field">
          <mat-form-field appearance="standard">
            <input type="text" formControlName="lastname" matInput placeholder="Lastname" />
            <mat-error *ngIf="lastname.errors">{{ errorFieldService.getFieldError(lastname.errors) }}</mat-error>
          </mat-form-field>
          <mat-icon class="edit" *ngIf="!editMode.lastname" (click)="toggleEnable('lastname')" matSuffix>edit</mat-icon>
          <div>
            <mat-icon *ngIf="editMode.lastname" class="edit confirmation" (click)="update('lastname')" matSuffix
              >done</mat-icon
            >
            <mat-icon *ngIf="editMode.lastname" class="edit confirmation" (click)="cancel('lastname')" matSuffix
              >cancel</mat-icon
            >
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="1" class="tile-divider">
          <mat-divider></mat-divider>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="7" class="tile-field">
          <mat-form-field appearance="standard">
            <input type="email" formControlName="email" matInput placeholder="Email" />
            <mat-icon matPrefix>email</mat-icon>
            <mat-icon *ngIf="(user$ | async)?.emailValid" class="verified yes" matSuffix>verified_user</mat-icon>
            <mat-icon *ngIf="!(user$ | async)?.emailValid" (click)="checkEmail()" class="verified no" matSuffix>
              error
            </mat-icon>
            <mat-error *ngIf="email.errors">{{ errorFieldService.getFieldError(email.errors) }}</mat-error>
          </mat-form-field>
          <mat-icon class="edit" *ngIf="!editMode.email" (click)="toggleEnable('email')" matSuffix>edit</mat-icon>
          <div>
            <mat-icon *ngIf="editMode.email" class="edit confirmation" (click)="update('email')" matSuffix
              >done</mat-icon
            >
            <mat-icon *ngIf="editMode.email" class="edit confirmation" (click)="cancel('email')" matSuffix
              >cancel</mat-icon
            >
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="7" class="tile-field">
          <mat-form-field appearance="standard">
            <input type="text" formControlName="phone" appPhone matInput placeholder="Phone" />
            <mat-icon matPrefix>phone</mat-icon>
            <mat-icon *ngIf="true" class="verified" matSuffix>verified_user</mat-icon>
            <mat-icon *ngIf="false" class="verified" matSuffix>error</mat-icon>
            <mat-error *ngIf="phone.errors">{{ errorFieldService.getFieldError(phone.errors) }}</mat-error>
          </mat-form-field>
          <mat-icon class="edit" *ngIf="!editMode.phone" (click)="toggleEnable('phone')" matSuffix>edit</mat-icon>
          <div>
            <mat-icon *ngIf="editMode.phone" class="edit confirmation" (click)="update('phone')" matSuffix
              >done</mat-icon
            >
            <mat-icon *ngIf="editMode.phone" class="edit confirmation" (click)="cancel('phone')" matSuffix
              >cancel</mat-icon
            >
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="7">
          <mat-form-field appearance="standard">
            <mat-label>Birthdate</mat-label>
            <mat-icon matPrefix>cake</mat-icon>
            <input matInput formControlName="birthdate" [matDatepicker]="birthdatePicker" />
            <mat-datepicker-toggle matSuffix [for]="birthdatePicker"></mat-datepicker-toggle>
            <mat-datepicker #birthdatePicker color="primary"></mat-datepicker>
          </mat-form-field>
          <mat-icon class="edit" *ngIf="!editMode.birthdate" (click)="toggleEnable('birthdate')" matSuffix
            >edit</mat-icon
          >
          <div>
            <mat-icon *ngIf="editMode.birthdate" class="edit confirmation" (click)="update('birthdate')" matSuffix
              >done</mat-icon
            >
            <mat-icon *ngIf="editMode.birthdate" class="edit confirmation" (click)="cancel('birthdate')" matSuffix
              >cancel</mat-icon
            >
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </form>
</mat-card>
