.user-settings {
  height: 100%;
}
.profile-avatar {
  background-image: url('/assets/images/avatar.png');
  background-size: cover;
  height: 100px;
  width: 100px;
}

mat-form-field {
  width: 250px !important;
}

.edit {
  cursor: pointer;
  &:hover {
    background-color: #c5c5c5;
    border-radius: 5px;
  }
}

.verified {
  &:hover {
    color: initial;
  }
}

.tile-field {
  margin-top: 5px;
}

.tile-divider {
  height: 1px !important;
}

.close-modal {
  float: right;
  cursor: pointer;
  position: absolute;
  right: 20px;
  &:hover {
    background-color: #c5c5c5;
    border-radius: 5px;
  }
}

.confirmation {
  font-size: 15px;
  height: auto;
  width: auto;
}
