<mat-card class="user-settings">
  <mat-card-header>
    <mat-card-title>My Settings</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-divider [inset]="true"></mat-divider>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <mat-grid-list cols="3" rowHeight="10px">
        <mat-grid-tile [colspan]="1" [rowspan]="14">
          <div mat-card-avatar class="profile-avatar"></div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="7" class="tile-field">
          <mat-form-field appearance="fill">
            <input
              type="text"
              formControlName="firstName"
              matInput
              placeholder="Firstname"
              value="{{ (user$ | async)?.firstname }}"
            />
            <mat-error *ngIf="firstName.errors">{{ errorFieldService.getFieldError(firstName.errors) }}</mat-error>
          </mat-form-field>
          <mat-icon class="edit" (click)="enable(firstName)" matSuffix>edit</mat-icon>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="7" class="tile-field">
          <mat-form-field appearance="fill">
            <input
              type="text"
              formControlName="lastName"
              matInput
              placeholder="Lastname"
              value="{{ (user$ | async)?.lastname }}"
            />
            <mat-error *ngIf="lastName.errors">{{ errorFieldService.getFieldError(lastName.errors) }}</mat-error>
          </mat-form-field>
          <mat-icon class="edit" (click)="enable(lastName)" matSuffix>edit</mat-icon>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="1" class="tile-divider">
          <mat-divider></mat-divider>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="7" class="tile-field">
          <mat-form-field appearance="fill">
            <input
              type="email"
              formControlName="email"
              matInput
              placeholder="Email"
              value="{{ (user$ | async)?.email }}"
            />
            <mat-icon matPrefix>email</mat-icon>
            <mat-icon class="verified" matSuffix>verified</mat-icon>
            <mat-error *ngIf="email.errors">{{ errorFieldService.getFieldError(email.errors) }}</mat-error>
          </mat-form-field>
          <mat-icon class="edit" (click)="enable(form.get('email'))" matSuffix>edit</mat-icon>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="7" class="tile-field">
          <mat-form-field appearance="fill">
            <input
              type="text"
              formControlName="phone"
              appPhone
              matInput
              placeholder="Phone"
              value="{{ (user$ | async)?.phone }}"
            />
            <mat-icon matPrefix>phone</mat-icon>
            <mat-icon class="verified" matSuffix>verified</mat-icon>
            <mat-error *ngIf="phone.errors">{{ errorFieldService.getFieldError(phone.errors) }}</mat-error>
          </mat-form-field>
          <mat-icon class="edit" (click)="enable(form.get('phone'))" matSuffix>edit</mat-icon>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="7">
          <mat-form-field appearance="fill">
            <mat-label>Birthdate</mat-label>
            <mat-icon matPrefix>cake</mat-icon>
            <input
              matInput
              formControlName="birthdate"
              value="{{ (user$ | async)?.birthdate }}"
              [matDatepicker]="picker1"
            />
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 color="primary"></mat-datepicker>
          </mat-form-field>
          <mat-icon class="edit" (click)="enable(form.get('birthdate'))" matSuffix>edit</mat-icon>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </form>
</mat-card>
