.main-panel {
  width: 77%;
  float: right;
  position: absolute;
  margin: 1% 0% 0% 22%;
  height: 90% !important;
  overflow-y: scroll;
}

.left-panel {
  position: absolute;
  width: 20%;
  float: left;
  margin: 1%;
  height: 90% !important;
}

.profile-avatar {
  background-image: url('/assets/images/avatar.png');
  background-size: cover;
}

.logout-button {
  right: 0px;
  position: absolute;
}

.settings {
  margin: 5px;
  height: 60px;
}

.search {
  float: right !important;
}

.my-fab {
  bottom: 5px;
}

.search-title {
  font-size: smaller;
}

strong {
  font-weight: bold;
}

.input-progress {
  width: 200px;
  position: absolute;
  top: 25px;
}
