<div class="profile">
  <div class="left-panel">
    <app-user-panel [user$]="user$" (updateUserEvent)="reloadUserData()"></app-user-panel>
  </div>
  <div class="main-panel">
    <mat-card class="main-container">
      <mat-tab-group>
        <mat-tab label="News">
          <mat-card class="settings">
            <button class="my-fab" mat-mini-fab color="primary" (click)="newPost()">
              <mat-icon>post_add</mat-icon>
            </button>
            <form class="search" [formGroup]="searchForm">
              <mat-form-field>
                <input
                  type="text"
                  placeholder="Search"
                  matInput
                  formControlName="searchField"
                  #search
                  [matAutocomplete]="auto"
                />
                <mat-progress-bar class="input-progress" *ngIf="progress" mode="indeterminate"></mat-progress-bar>
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option class="search-title" *ngFor="let post of searchPosts$ | async" [value]="post.data.title">
                    <span [innerHTML]="post.data.title | highlight: search.value"></span>
                  </mat-option>
                </mat-autocomplete>
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
            </form>
          </mat-card>
          <app-post [post]="post" *ngFor="let post of posts$ | async"></app-post>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>
