.profile {
  display: inline-flex;
  position: absolute;
  top: 2px;
  width: 100%;
  height: 99%;
}

.left-panel {
  width: 30%;
  margin: 2px;
}

.main-panel {
  width: 100%;
  margin: 2px;
  overflow-y: auto;
}

.main-container {
  height: -webkit-fill-available;
}

.settings {
  margin: 5px;
  height: 60px;
}

.search {
  float: right !important;
}

.my-fab {
  bottom: 5px;
}

.search-title {
  font-size: smaller;
}

strong {
  font-weight: bold;
}

.input-progress {
  width: 200px;
  position: absolute;
  top: 25px;
}
