.profile-avatar {
  background-image: url('/assets/images/avatar.png');
  background-size: cover;
}

.logout-button {
  right: 0px;
  position: absolute;
}

.container {
  height: -webkit-fill-available;
}

.bio {
  margin-top: 10px;
  width: 100%;
}

.bio .textarea {
  overflow-y: scroll;
  max-height: 200px !important;
  min-height: 150px !important;
  height: auto !important;
}
