<mat-card class="container">
  <mat-card-header>
    <div class="logout-button">
      <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
    <div class="settings">
      <button mat-icon-button (click)="settings()">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
    <div mat-card-avatar class="profile-avatar"></div>
    <mat-card-title>
      {{ (user$ | async)?.firstname | titlecase }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ (user$ | async)?.lastname | uppercase }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-form-field class="bio" appearance="outline">
      <mat-label>Bio</mat-label>
      <textarea
        class="textarea"
        cdkTextareaAutosize
        matInput
        cdkAutosizeMinRows="10"
        cdkAutosizeMaxRows="30"
        cols="80"
        [(ngModel)]="bio"
        [disabled]="!editMode.bio"
      >
      </textarea>
    </mat-form-field>
    <mat-icon *ngIf="!editMode.bio" class="edit" (click)="editBio()" matSuffix> edit </mat-icon>
    <div>
      <mat-icon *ngIf="editMode.bio" class="edit confirmation" (click)="updateBio()" matSuffix> done </mat-icon>
      <mat-icon *ngIf="editMode.bio" class="edit confirmation" (click)="cancelBio()" matSuffix> cancel </mat-icon>
    </div>
  </mat-card-content>
  <mat-card-actions></mat-card-actions>
</mat-card>
