<mat-card class="container">
  <mat-card-header>
    <div class="logout-button">
      <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
    <div class="settings">
      <button mat-icon-button (click)="settings()">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
    <div mat-card-avatar class="profile-avatar"></div>
    <mat-card-title>
      {{ (user$ | async)?.firstname | titlecase }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ (user$ | async)?.lastname | uppercase }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>
      Ingénieur Informaticien diplômé depuis 2015 de l‘Institut Supérieur de Sciences Appliquées et de Technologie de
      Sousse, occupant le poste d'un consultant FullStack js chez Synopsia. Je suis en recherche permanente de nouveaux
      challenges, et intéressé à savoir et découvrir l'évolution de l'informatique. Au-delà des technologies, j’accorde
      une immense importance à mon environnement et mon cadre de travail (valeurs, communication, partage, rigueur,
      ambiance,…). Mes compétences évoluent au rythme des évolutions technologiques et méthodologiques.
    </p>
  </mat-card-content>
  <mat-card-actions></mat-card-actions>
</mat-card>
