.profile-avatar {
  background-image: url('/assets/images/avatar.png');
  background-size: cover;
}

.logout-button {
  right: 0px;
  position: absolute;
}

.container {
  height: -webkit-fill-available;
}
