<mat-grid-list cols="4" rowHeight="fit" class="new-post">
  <div *ngIf="spinner" class="post-spinner">
    <mat-spinner></mat-spinner>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <h1 mat-dialog-title class="label-add-new-post">Add New Post</h1>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <mat-form-field class="new-post-title">
        <input formControlName="title" matInput placeholder="Title" required />
        <mat-error *ngIf="form.get('title').errors">{{ errorFieldService.getFieldError(title.errors) }}</mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="5">
      <mat-form-field class="new-post-image">
        <ngx-mat-file-input
          formControlName="image"
          #removableInput
          placeholder="Set an image"
          (change)="onUploadImage()"
        ></ngx-mat-file-input>
        <img [src]="displayImage" class="image-resize" />
        <button
          type="button"
          mat-icon-button
          matSuffix
          *ngIf="!removableInput.empty"
          (click)="removableInput.clear($event); displayImage = ''"
        >
          <mat-icon>clear</mat-icon>
        </button>
        <mat-error *ngIf="image">{{ getFieldError(image.errors) }}</mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="5">
      <mat-form-field class="new-post-text">
        <textarea
          formControlName="text"
          cdkTextareaAutosize
          matInput
          cdkAutosizeMinRows="20"
          cdkAutosizeMaxRows="50"
          placeholder="Type your text"
          required
        ></textarea>
        <mat-error *ngIf="form.get('text').errors">{{ errorFieldService.getFieldError(text.errors) }}</mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <button mat-button (click)="onCancel()">Cancel</button>
      <button mat-button [disabled]="form.invalid" type="submit">Post</button>
    </mat-grid-tile>
  </form>
</mat-grid-list>
