.post-spinner {
  position: fixed;
  left: 45%;
  top: 45%;
}

.loading {
  background-color: rgba(214, 229, 235, 0.945);
  pointer-events: none;
}

.new-post {
  height: 100%;
}

.new-post-title {
  width: 90%;
}

.new-post-text {
  width: 90%;
}

.new-post-image {
  width: 90%;
}
