<mat-card class="register-card">
  <mat-card-content>
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-grid-list cols="2" rowHeight="3:1">
        <mat-grid-tile>
          <mat-form-field class="field">
            <input matInput type="text" placeholder="Firstname" formControlName="firstName" />
            <mat-error *ngIf="firstName.errors">{{ errorFieldService.getFieldError(firstName.errors) }}</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="">
            <input type="text" matInput placeholder="Lastname" formControlName="lastName" />
            <mat-error *ngIf="lastName.errors">{{ errorFieldService.getFieldError(lastName.errors) }}</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="">
            <input type="email" matInput placeholder="Email" formControlName="email" />
            <mat-error *ngIf="email.errors">{{ errorFieldService.getFieldError(email.errors) }}</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="">
            <input appPhone type="text" matInput placeholder="Phone" formControlName="phone" />
            <mat-error *ngIf="phone.errors">{{ errorFieldService.getFieldError(phone.errors) }}</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="">
            <input type="password" matInput placeholder="Password" formControlName="password" />
            <mat-error *ngIf="password.errors">{{ errorFieldService.getFieldError(password.errors) }}</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="">
            <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword" />
            <mat-error *ngIf="confirmPassword.errors">{{
              errorFieldService.getFieldError(confirmPassword.errors)
            }}</mat-error>
            <mat-error *ngIf="!confirmPassword.errors && form.errors"
              >errorFieldService.getFieldError(form.errors)</mat-error
            >
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile></mat-grid-tile>

        <mat-grid-tile>
          <button [disabled]="form.invalid" type="submit" mat-raised-button color="primary">Register</button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card-content>
</mat-card>
