<mat-card class="login-card">
  <mat-card-content>
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-grid-list cols="1" rowHeight="100px">
        <mat-grid-tile>
          <mat-form-field class="field">
            <input
              matInput
              type="email"
              placeholder="Email"
              formControlName="email"
            />
            <mat-error *ngIf="email?.touched && email?.invalid">{{
              getFieldError(email.errors)
            }}</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="">
            <input
              type="password"
              matInput
              placeholder="Password"
              formControlName="password"
            />
            <mat-error *ngIf="password?.touched && password?.invalid">{{
              getFieldError(password.errors)
            }}</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <button
            [disabled]="form.invalid"
            type="submit"
            mat-raised-button
            color="primary"
          >
            Login
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card-content>
</mat-card>
